@import 'default.css';

.none {
  display: none;
}

.container {
  display: grid;
  height: 99vh;
  grid-template-columns: 12.8rem 1fr;
  grid-template-rows: 8rem 1fr;
  column-gap: 1rem;
  margin: 0.8rem;
}

.header {
  grid-column: 1 / -1;
  padding: 2rem 0;
  text-align: center;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
}

.types {
  background-color: #fae4cc;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  padding-top: 1.8rem;
}

.add-btn {
  width: 9.6rem;
  text-align: center;
  font-size: 2rem;
  padding: 0.8rem;
  border: 1px solid #fd7e14;
  background-color: #000;
  color: #fd7e14;
  border-radius: 2rem;
  font-weight: 700;
  transition: all 0.5s;
  cursor: pointer;
}

.add-btn:hover,
.add-btn:focus {
  border: 1px solid #000;
  background-color: #fd7e14;
  color: #000;
}

.type {
  width: 10rem;
  text-align: left;
  background-color: #fd7e14;
  color: #000;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 0.8rem;
}

.drinks {
  border: 5px solid #fae4cc;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  gap: 1.2rem;
  padding: 1.2rem;
  overflow-y: scroll;
}

.drink {
  background-color: #fd7e14;
  border-radius: 2rem;

  width: 24rem;
  height: 24rem;
  padding: 1.2rem;

  font-size: 1.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.img-drink {
  width: 20rem;
}

.modal-section {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 216, 168, 0.3);
  width: 100%;
  height: 100%;
}

.modal {
  background-color: whitesmoke;
  width: 48rem;
  justify-content: center;
  padding: 1.8rem 3.6rem 3.6rem 3.6rem;
  border-radius: 2rem;
  border: 3px solid rgba(255, 216, 168, 0.8);
}

.modal-label {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 0.8rem;
}

.save-btn {
  padding: 1.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 1.2rem;
  cursor: pointer;
  border-radius: 3rem;
  border: 1px solid #000;
  background-color: #fd7e14;
  transition: all 0.3s;
}

.save-btn:hover {
  background-color: #000;
  color: #fd7e14;
}

.close-btn-box {
  text-align: right;
}

.close-btn {
  cursor: pointer;
  font-size: 2.4rem;
}

.input-list {
  gap: 0.8rem;
  justify-content: center;
}

.drink-input {
  padding: 1.2rem;
}

@media (max-width: 89.1em) {
  .drink {
    background-color: #ffa94d;
  }
}

@media (max-width: 73.32em) {
  .drink {
    background-color: #ffc078;
  }
}

@media (max-width: 57.6em) {
  .drink {
    background-color: #ffd8a8;
  }
}

@media (max-width: 42.44em) {
  .drink {
    background-color: #ffe8cc;
  }
}
